USE [master]
GO
/****** Object:  Database [WarehouseManagementDb]    Script Date: 9/23/2026 4:46:01 PM ******/
CREATE DATABASE [WarehouseManagementDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseManagementDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseManagementDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseManagementDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseManagementDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseManagementDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseManagementDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportReceiptDetails]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExportReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[Note] [nvarchar](300) NULL,
 CONSTRAINT [PK_ExportReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportReceipts]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNumber] [nvarchar](30) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedByUserId] [nvarchar](450) NOT NULL,
	[PostedByUserId] [nvarchar](450) NULL,
	[CancelledByUserId] [nvarchar](450) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PostedAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[Note] [nvarchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ExportReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportReceiptDetails]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](300) NULL,
 CONSTRAINT [PK_ImportReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportReceipts]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNumber] [nvarchar](30) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedByUserId] [nvarchar](450) NOT NULL,
	[PostedByUserId] [nvarchar](450) NULL,
	[CancelledByUserId] [nvarchar](450) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PostedAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[Note] [nvarchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[ReceiptDate] [date] NOT NULL,
 CONSTRAINT [PK_ImportReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[TransactionType] [tinyint] NOT NULL,
	[QuantityChange] [decimal](18, 3) NOT NULL,
	[BalanceBefore] [decimal](18, 3) NOT NULL,
	[BalanceAfter] [decimal](18, 3) NOT NULL,
	[ImportReceiptId] [int] NULL,
	[ExportReceiptId] [int] NULL,
	[ReversedTransactionId] [bigint] NULL,
	[PerformedByUserId] [nvarchar](450) NOT NULL,
	[OccurredAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CategoryId] [int] NOT NULL,
	[CurrentQuantity] [decimal](18, 3) NOT NULL,
	[MinimumStockLevel] [decimal](18, 3) NOT NULL,
	[AverageUnitCost] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 9/23/2026 4:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_Name]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_Name] ON [dbo].[Categories]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportReceiptDetails_ExportReceiptId_ProductId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ExportReceiptDetails_ExportReceiptId_ProductId] ON [dbo].[ExportReceiptDetails]
(
	[ExportReceiptId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportReceiptDetails_ProductId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceiptDetails_ProductId] ON [dbo].[ExportReceiptDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_CancelledByUserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceipts_CancelledByUserId] ON [dbo].[ExportReceipts]
(
	[CancelledByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_CreatedByUserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceipts_CreatedByUserId] ON [dbo].[ExportReceipts]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_PostedByUserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceipts_PostedByUserId] ON [dbo].[ExportReceipts]
(
	[PostedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_ReceiptNumber]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ExportReceipts_ReceiptNumber] ON [dbo].[ExportReceipts]
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportReceiptDetails_ImportReceiptId_ProductId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ImportReceiptDetails_ImportReceiptId_ProductId] ON [dbo].[ImportReceiptDetails]
(
	[ImportReceiptId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportReceiptDetails_ProductId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceiptDetails_ProductId] ON [dbo].[ImportReceiptDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_CancelledByUserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_CancelledByUserId] ON [dbo].[ImportReceipts]
(
	[CancelledByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_CreatedByUserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_CreatedByUserId] ON [dbo].[ImportReceipts]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_PostedByUserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_PostedByUserId] ON [dbo].[ImportReceipts]
(
	[PostedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_ReceiptNumber]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ImportReceipts_ReceiptNumber] ON [dbo].[ImportReceipts]
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportReceipts_SupplierId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_SupplierId] ON [dbo].[ImportReceipts]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ExportReceiptId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_ExportReceiptId] ON [dbo].[InventoryTransactions]
(
	[ExportReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ExportReceiptId_ProductId_TransactionType]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventoryTransactions_ExportReceiptId_ProductId_TransactionType] ON [dbo].[InventoryTransactions]
(
	[ExportReceiptId] ASC,
	[ProductId] ASC,
	[TransactionType] ASC
)
WHERE ([ExportReceiptId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ImportReceiptId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_ImportReceiptId] ON [dbo].[InventoryTransactions]
(
	[ImportReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ImportReceiptId_ProductId_TransactionType]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventoryTransactions_ImportReceiptId_ProductId_TransactionType] ON [dbo].[InventoryTransactions]
(
	[ImportReceiptId] ASC,
	[ProductId] ASC,
	[TransactionType] ASC
)
WHERE ([ImportReceiptId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_OccurredAt]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_OccurredAt] ON [dbo].[InventoryTransactions]
(
	[OccurredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InventoryTransactions_PerformedByUserId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_PerformedByUserId] ON [dbo].[InventoryTransactions]
(
	[PerformedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ProductId_OccurredAt]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_ProductId_OccurredAt] ON [dbo].[InventoryTransactions]
(
	[ProductId] ASC,
	[OccurredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ReversedTransactionId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventoryTransactions_ReversedTransactionId] ON [dbo].[InventoryTransactions]
(
	[ReversedTransactionId] ASC
)
WHERE ([ReversedTransactionId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_TransactionType]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_TransactionType] ON [dbo].[InventoryTransactions]
(
	[TransactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_InventoryTransactions_Product_OpeningBalance]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_InventoryTransactions_Product_OpeningBalance] ON [dbo].[InventoryTransactions]
(
	[ProductId] ASC
)
WHERE ([TransactionType]=(6))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Code]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_Code] ON [dbo].[Products]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Suppliers_Code]    Script Date: 9/23/2026 4:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Suppliers_Code] ON [dbo].[Suppliers]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExportReceipts] ADD  DEFAULT (CONVERT([tinyint],(0))) FOR [Status]
GO
ALTER TABLE [dbo].[ExportReceipts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportReceipts] ADD  DEFAULT (CONVERT([tinyint],(0))) FOR [Status]
GO
ALTER TABLE [dbo].[ImportReceipts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportReceipts] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [CurrentQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [MinimumStockLevel]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceiptDetails_ExportReceipts_ExportReceiptId] FOREIGN KEY([ExportReceiptId])
REFERENCES [dbo].[ExportReceipts] ([Id])
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [FK_ExportReceiptDetails_ExportReceipts_ExportReceiptId]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceiptDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [FK_ExportReceiptDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceipts_AspNetUsers_CancelledByUserId] FOREIGN KEY([CancelledByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [FK_ExportReceipts_AspNetUsers_CancelledByUserId]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceipts_AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [FK_ExportReceipts_AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceipts_AspNetUsers_PostedByUserId] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [FK_ExportReceipts_AspNetUsers_PostedByUserId]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceiptDetails_ImportReceipts_ImportReceiptId] FOREIGN KEY([ImportReceiptId])
REFERENCES [dbo].[ImportReceipts] ([Id])
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [FK_ImportReceiptDetails_ImportReceipts_ImportReceiptId]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceiptDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [FK_ImportReceiptDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_AspNetUsers_CancelledByUserId] FOREIGN KEY([CancelledByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_AspNetUsers_CancelledByUserId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_AspNetUsers_PostedByUserId] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_AspNetUsers_PostedByUserId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_AspNetUsers_PerformedByUserId] FOREIGN KEY([PerformedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_AspNetUsers_PerformedByUserId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_ExportReceipts_ExportReceiptId] FOREIGN KEY([ExportReceiptId])
REFERENCES [dbo].[ExportReceipts] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_ExportReceipts_ExportReceiptId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_ImportReceipts_ImportReceiptId] FOREIGN KEY([ImportReceiptId])
REFERENCES [dbo].[ImportReceipts] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_ImportReceipts_ImportReceiptId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_InventoryTransactions_ReversedTransactionId] FOREIGN KEY([ReversedTransactionId])
REFERENCES [dbo].[InventoryTransactions] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_InventoryTransactions_ReversedTransactionId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceiptDetails_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [CK_ExportReceiptDetails_Quantity_Positive]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceiptDetails_UnitCost_NonNegative] CHECK  (([UnitCost] IS NULL OR [UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [CK_ExportReceiptDetails_UnitCost_NonNegative]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceipts_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [CK_ExportReceipts_Status]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceipts_StatusAudit] CHECK  (([Status]=(0) AND [PostedByUserId] IS NULL AND [PostedAt] IS NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(1) AND [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(2) AND [CancelledByUserId] IS NOT NULL AND [CancelledAt] IS NOT NULL AND ([PostedByUserId] IS NULL AND [PostedAt] IS NULL OR [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL)))
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [CK_ExportReceipts_StatusAudit]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceiptDetails_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [CK_ImportReceiptDetails_Quantity_Positive]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceiptDetails_UnitCost_NonNegative] CHECK  (([UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [CK_ImportReceiptDetails_UnitCost_NonNegative]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceipts_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [CK_ImportReceipts_Status]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceipts_StatusAudit] CHECK  (([Status]=(0) AND [PostedByUserId] IS NULL AND [PostedAt] IS NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(1) AND [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(2) AND [CancelledByUserId] IS NOT NULL AND [CancelledAt] IS NOT NULL AND ([PostedByUserId] IS NULL AND [PostedAt] IS NULL OR [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL)))
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [CK_ImportReceipts_StatusAudit]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_BalanceEquation] CHECK  (([BalanceAfter]=([BalanceBefore]+[QuantityChange])))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_BalanceEquation]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Balances_NonNegative] CHECK  (([BalanceBefore]>=(0) AND [BalanceAfter]>=(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Balances_NonNegative]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_NoSelfReversal] CHECK  (([ReversedTransactionId] IS NULL OR [ReversedTransactionId]<>[Id]))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_NoSelfReversal]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_QuantityChange_NonZero] CHECK  (([QuantityChange]<>(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_QuantityChange_NonZero]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_QuantityDirection] CHECK  ((([TransactionType]=(6) OR [TransactionType]=(4) OR [TransactionType]=(3) OR [TransactionType]=(0)) AND [QuantityChange]>(0) OR ([TransactionType]=(5) OR [TransactionType]=(2) OR [TransactionType]=(1)) AND [QuantityChange]<(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_QuantityDirection]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_ReversalReference] CHECK  ((([TransactionType]=(3) OR [TransactionType]=(2)) AND [ReversedTransactionId] IS NOT NULL OR NOT ([TransactionType]=(3) OR [TransactionType]=(2)) AND [ReversedTransactionId] IS NULL))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_ReversalReference]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Source] CHECK  ((([TransactionType]=(2) OR [TransactionType]=(0)) AND [ImportReceiptId] IS NOT NULL AND [ExportReceiptId] IS NULL OR ([TransactionType]=(3) OR [TransactionType]=(1)) AND [ImportReceiptId] IS NULL AND [ExportReceiptId] IS NOT NULL OR ([TransactionType]=(6) OR [TransactionType]=(5) OR [TransactionType]=(4)) AND [ImportReceiptId] IS NULL AND [ExportReceiptId] IS NULL))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Source]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Type] CHECK  (([TransactionType]=(6) OR [TransactionType]=(5) OR [TransactionType]=(4) OR [TransactionType]=(3) OR [TransactionType]=(2) OR [TransactionType]=(1) OR [TransactionType]=(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_AverageUnitCost_NonNegative] CHECK  (([AverageUnitCost] IS NULL OR [AverageUnitCost]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_AverageUnitCost_NonNegative]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_CurrentQuantity_NonNegative] CHECK  (([CurrentQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_CurrentQuantity_NonNegative]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_MinimumStockLevel_NonNegative] CHECK  (([MinimumStockLevel]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_MinimumStockLevel_NonNegative]
GO
USE [master]
GO
