USE [master]
GO
/****** Object:  Database [WarehouseManagementDb]    Script Date: 9/30/2026 1:38:03 PM ******/
CREATE DATABASE [WarehouseManagementDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseManagementDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseManagementDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseManagementDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseManagementDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseManagementDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseManagementDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportReceiptDetails]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExportReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[Note] [nvarchar](300) NULL,
 CONSTRAINT [PK_ExportReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportReceipts]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNumber] [nvarchar](30) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedByUserId] [nvarchar](450) NOT NULL,
	[PostedByUserId] [nvarchar](450) NULL,
	[CancelledByUserId] [nvarchar](450) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PostedAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[Note] [nvarchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ExportReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportReceiptDetails]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](300) NULL,
 CONSTRAINT [PK_ImportReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportReceipts]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNumber] [nvarchar](30) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedByUserId] [nvarchar](450) NOT NULL,
	[PostedByUserId] [nvarchar](450) NULL,
	[CancelledByUserId] [nvarchar](450) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PostedAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[Note] [nvarchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[ReceiptDate] [date] NOT NULL,
 CONSTRAINT [PK_ImportReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[TransactionType] [tinyint] NOT NULL,
	[QuantityChange] [decimal](18, 3) NOT NULL,
	[BalanceBefore] [decimal](18, 3) NOT NULL,
	[BalanceAfter] [decimal](18, 3) NOT NULL,
	[ImportReceiptId] [int] NULL,
	[ExportReceiptId] [int] NULL,
	[ReversedTransactionId] [bigint] NULL,
	[PerformedByUserId] [nvarchar](450) NOT NULL,
	[OccurredAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CategoryId] [int] NOT NULL,
	[CurrentQuantity] [decimal](18, 3) NOT NULL,
	[MinimumStockLevel] [decimal](18, 3) NOT NULL,
	[AverageUnitCost] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 9/30/2026 1:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260920183911_InitialCreate', N'10.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260921183642_AddUniqueCategoryNameIndex', N'10.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260922122329_AddCategoryRowVersion', N'10.0.7')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a7d40895-52b7-42c8-8f39-39ffde3bb190', N'WAREHOUSE_STAFF', N'WAREHOUSE_STAFF', N'f26b074a-d596-4229-8ffb-a5d65fd4762c')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c40afa5a-3647-45c5-8a5b-eecff1c0db48', N'ACCOUNTANT', N'ACCOUNTANT', N'aa2d98e0-064d-43c1-9dcb-b9278886ba8b')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ca3d20f9-51a3-4f79-a480-5a83901aca4c', N'ADMIN', N'ADMIN', N'eed64c7e-0ffa-4d75-a49d-e42d77281cf4')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2ae061b9-80a8-4525-98d9-89dff7585b4d', N'a7d40895-52b7-42c8-8f39-39ffde3bb190')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', N'a7d40895-52b7-42c8-8f39-39ffde3bb190')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'fe37b4c2-dfbe-4fdb-a029-dafc08bd8ee3', N'c40afa5a-3647-45c5-8a5b-eecff1c0db48')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Gia vị', N'Các sản phẩm dùng để nêm nếm, chế biến và làm tăng hương vị cho món ăn, bao gồm muối, nước mắm, tiêu, đường và bột ngọt.', 1, CAST(N'2026-09-21T19:10:22.5878320' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (4, N'Lương thực', N'Các sản phẩm lương thực phục vụ nhu cầu ăn uống và chế biến thực phẩm, bao gồm gạo, ngô, đậu và các loại ngũ cốc khác.', 1, CAST(N'2026-09-21T19:11:45.4291123' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (5, N'Thực phẩm khô', N'Các sản phẩm thực phẩm được sấy khô hoặc bảo quản ở dạng khô, có thời gian sử dụng tương đối dài, bao gồm mì khô, miến, nấm khô và các loại thực phẩm khô khác.', 1, CAST(N'2026-09-21T19:12:22.3907279' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ExportReceiptDetails] ON 

INSERT [dbo].[ExportReceiptDetails] ([Id], [ExportReceiptId], [ProductId], [Quantity], [UnitCost], [Note]) VALUES (1, 1, 2, CAST(3.000 AS Decimal(18, 3)), NULL, NULL)
INSERT [dbo].[ExportReceiptDetails] ([Id], [ExportReceiptId], [ProductId], [Quantity], [UnitCost], [Note]) VALUES (2, 1, 1, CAST(1.000 AS Decimal(18, 3)), NULL, NULL)
INSERT [dbo].[ExportReceiptDetails] ([Id], [ExportReceiptId], [ProductId], [Quantity], [UnitCost], [Note]) VALUES (3, 2, 2, CAST(8.000 AS Decimal(18, 3)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ExportReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ExportReceipts] ON 

INSERT [dbo].[ExportReceipts] ([Id], [ReceiptNumber], [Status], [CreatedByUserId], [PostedByUserId], [CancelledByUserId], [CreatedAt], [PostedAt], [CancelledAt], [Note]) VALUES (1, N'PX-20260922200418-CF892F62', 1, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', NULL, CAST(N'2026-09-22T20:04:18.5380213' AS DateTime2), CAST(N'2026-09-22T20:17:08.2205376' AS DateTime2), NULL, N'[KIỂM THỬ TASK 6.1] Phiếu xuất nháp kiểm tra form và tồn kho')
INSERT [dbo].[ExportReceipts] ([Id], [ReceiptNumber], [Status], [CreatedByUserId], [PostedByUserId], [CancelledByUserId], [CreatedAt], [PostedAt], [CancelledAt], [Note]) VALUES (2, N'PX-20260922201800-E7865D9C', 1, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', NULL, CAST(N'2026-09-22T20:18:00.5722446' AS DateTime2), CAST(N'2026-09-22T20:18:31.6031332' AS DateTime2), NULL, N'[KIỂM THỬ TASK 6.2] Hai draft tranh tồn 1')
INSERT [dbo].[ExportReceipts] ([Id], [ReceiptNumber], [Status], [CreatedByUserId], [PostedByUserId], [CancelledByUserId], [CreatedAt], [PostedAt], [CancelledAt], [Note]) VALUES (3, N'PX-20260922201800-883BA06F', 0, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', NULL, NULL, CAST(N'2026-09-22T20:18:00.6993293' AS DateTime2), NULL, NULL, N'[KIỂM THỬ TASK 6.2] Hai draft tranh tồn 2')
SET IDENTITY_INSERT [dbo].[ExportReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportReceiptDetails] ON 

INSERT [dbo].[ImportReceiptDetails] ([Id], [ImportReceiptId], [ProductId], [Quantity], [UnitCost], [Note]) VALUES (1, 5, 1, CAST(2.500 AS Decimal(18, 3)), CAST(10000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ImportReceiptDetails] ([Id], [ImportReceiptId], [ProductId], [Quantity], [UnitCost], [Note]) VALUES (2, 6, 1, CAST(2.000 AS Decimal(18, 3)), CAST(10000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ImportReceiptDetails] ([Id], [ImportReceiptId], [ProductId], [Quantity], [UnitCost], [Note]) VALUES (3, 6, 10, CAST(5.000 AS Decimal(18, 3)), CAST(6000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ImportReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportReceipts] ON 

INSERT [dbo].[ImportReceipts] ([Id], [ReceiptNumber], [SupplierId], [Status], [CreatedByUserId], [PostedByUserId], [CancelledByUserId], [CreatedAt], [PostedAt], [CancelledAt], [Note], [ReceiptDate]) VALUES (5, N'PN-20260922154209-688B2CB9', 2, 0, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', NULL, NULL, CAST(N'2026-09-22T15:42:09.5667399' AS DateTime2), NULL, NULL, NULL, CAST(N'2026-09-22' AS Date))
INSERT [dbo].[ImportReceipts] ([Id], [ReceiptNumber], [SupplierId], [Status], [CreatedByUserId], [PostedByUserId], [CancelledByUserId], [CreatedAt], [PostedAt], [CancelledAt], [Note], [ReceiptDate]) VALUES (6, N'PN-20260922174304-E74AD952', 2, 1, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', NULL, CAST(N'2026-09-22T17:43:04.9581311' AS DateTime2), CAST(N'2026-09-22T18:20:46.0040769' AS DateTime2), NULL, N'[KIỂM THỬ TASK 5.1] Thêm, sửa, xóa chi tiết', CAST(N'2026-09-23' AS Date))
INSERT [dbo].[ImportReceipts] ([Id], [ReceiptNumber], [SupplierId], [Status], [CreatedByUserId], [PostedByUserId], [CancelledByUserId], [CreatedAt], [PostedAt], [CancelledAt], [Note], [ReceiptDate]) VALUES (7, N'PN-20260922180519-EBA43CAB', 5, 1, N'778aa5b7-40e7-418a-b666-14ace2b42bf3', N'778aa5b7-40e7-418a-b666-14ace2b42bf3', NULL, CAST(N'2026-09-22T18:05:19.0754272' AS DateTime2), CAST(N'2026-09-22T22:17:41.0845933' AS DateTime2), NULL, NULL, CAST(N'2026-09-23' AS Date))
SET IDENTITY_INSERT [dbo].[ImportReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryTransactions] ON 

INSERT [dbo].[InventoryTransactions] ([Id], [ProductId], [TransactionType], [QuantityChange], [BalanceBefore], [BalanceAfter], [ImportReceiptId], [ExportReceiptId], [ReversedTransactionId], [PerformedByUserId], [OccurredAt], [Note]) VALUES (1, 1, 0, CAST(2.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), CAST(2.000 AS Decimal(18, 3)), 6, NULL, NULL, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', CAST(N'2026-09-22T18:20:46.0040769' AS DateTime2), N'Ghi sổ phiếu nhập PN-20260922174304-E74AD952.')
INSERT [dbo].[InventoryTransactions] ([Id], [ProductId], [TransactionType], [QuantityChange], [BalanceBefore], [BalanceAfter], [ImportReceiptId], [ExportReceiptId], [ReversedTransactionId], [PerformedByUserId], [OccurredAt], [Note]) VALUES (2, 10, 0, CAST(5.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), CAST(5.000 AS Decimal(18, 3)), 6, NULL, NULL, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', CAST(N'2026-09-22T18:20:46.0040769' AS DateTime2), N'Ghi sổ phiếu nhập PN-20260922174304-E74AD952.')
INSERT [dbo].[InventoryTransactions] ([Id], [ProductId], [TransactionType], [QuantityChange], [BalanceBefore], [BalanceAfter], [ImportReceiptId], [ExportReceiptId], [ReversedTransactionId], [PerformedByUserId], [OccurredAt], [Note]) VALUES (4, 2, 0, CAST(10.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), CAST(10.000 AS Decimal(18, 3)), 9, NULL, NULL, N'b82dd61e-0ec3-4b22-b7e7-9fd901bb7d6a', CAST(N'2026-09-22T19:01:11.7442977' AS DateTime2), N'Ghi sổ phiếu nhập PN-20260922190027-2190E626.')
SET IDENTITY_INSERT [dbo].[InventoryTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Code], [Name], [Unit], [Description], [CategoryId], [CurrentQuantity], [MinimumStockLevel], [AverageUnitCost], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'HH001', N'Muối', N'Kg', NULL, 3, CAST(1.000 AS Decimal(18, 3)), CAST(10.000 AS Decimal(18, 3)), CAST(10000.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-21T19:35:13.3766838' AS DateTime2), CAST(N'2026-09-22T20:17:08.2205376' AS DateTime2))
INSERT [dbo].[Products] ([Id], [Code], [Name], [Unit], [Description], [CategoryId], [CurrentQuantity], [MinimumStockLevel], [AverageUnitCost], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'HH002', N'Nước mắm', N'Chai', NULL, 3, CAST(1.250 AS Decimal(18, 3)), CAST(20.000 AS Decimal(18, 3)), CAST(8666.67 AS Decimal(18, 2)), 1, CAST(N'2026-09-21T19:35:14.1088829' AS DateTime2), CAST(N'2026-09-22T22:55:13.5130741' AS DateTime2))
INSERT [dbo].[Products] ([Id], [Code], [Name], [Unit], [Description], [CategoryId], [CurrentQuantity], [MinimumStockLevel], [AverageUnitCost], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'HH003', N'Tiêu', N'Kg', NULL, 3, CAST(1.125 AS Decimal(18, 3)), CAST(5.000 AS Decimal(18, 3)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-21T19:35:14.3139399' AS DateTime2), CAST(N'2026-09-22T19:01:11.7442977' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'NCC-REAL-T41-001', N'[KIỂM THỬ] Nhà cung cấp Task 4.1 - Phiên A', N'0901234567', N'ncc.task41@warehouse.local', N'Dữ liệu kiểm thử TASK 4.1 - WAREHOUSE_STAFF đã chỉnh sửa', 0, CAST(N'2026-09-22T14:40:16.7299466' AS DateTime2), CAST(N'2026-09-22T14:43:02.6906821' AS DateTime2))
INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'NCC-01', N'Công ty TNHH Thực phẩm An Việt', N'0987654321', N'thucpham.anviet@example.com', N'Khu công nghiệp Sông Công, Thái Nguyên', 1, CAST(N'2026-09-22T14:51:36.0637210' AS DateTime2), CAST(N'2026-09-22T14:52:13.5624807' AS DateTime2))
INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'NCC-', N'Công ty TNHH Nước Giải Khát Việt', N'0912345678', N'nuocgiaikhat@example.com', N'Số 25 đường Hoàng Văn Thụ, TP. Thái Nguyên, tỉnh Thái Nguyên', 0, CAST(N'2026-09-22T14:52:55.9841243' AS DateTime2), CAST(N'2026-09-22T14:56:00.8139766' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_Name]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_Name] ON [dbo].[Categories]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportReceiptDetails_ExportReceiptId_ProductId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ExportReceiptDetails_ExportReceiptId_ProductId] ON [dbo].[ExportReceiptDetails]
(
	[ExportReceiptId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportReceiptDetails_ProductId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceiptDetails_ProductId] ON [dbo].[ExportReceiptDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_CancelledByUserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceipts_CancelledByUserId] ON [dbo].[ExportReceipts]
(
	[CancelledByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_CreatedByUserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceipts_CreatedByUserId] ON [dbo].[ExportReceipts]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_PostedByUserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExportReceipts_PostedByUserId] ON [dbo].[ExportReceipts]
(
	[PostedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExportReceipts_ReceiptNumber]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ExportReceipts_ReceiptNumber] ON [dbo].[ExportReceipts]
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportReceiptDetails_ImportReceiptId_ProductId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ImportReceiptDetails_ImportReceiptId_ProductId] ON [dbo].[ImportReceiptDetails]
(
	[ImportReceiptId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportReceiptDetails_ProductId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceiptDetails_ProductId] ON [dbo].[ImportReceiptDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_CancelledByUserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_CancelledByUserId] ON [dbo].[ImportReceipts]
(
	[CancelledByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_CreatedByUserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_CreatedByUserId] ON [dbo].[ImportReceipts]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_PostedByUserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_PostedByUserId] ON [dbo].[ImportReceipts]
(
	[PostedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImportReceipts_ReceiptNumber]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ImportReceipts_ReceiptNumber] ON [dbo].[ImportReceipts]
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportReceipts_SupplierId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImportReceipts_SupplierId] ON [dbo].[ImportReceipts]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ExportReceiptId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_ExportReceiptId] ON [dbo].[InventoryTransactions]
(
	[ExportReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ExportReceiptId_ProductId_TransactionType]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventoryTransactions_ExportReceiptId_ProductId_TransactionType] ON [dbo].[InventoryTransactions]
(
	[ExportReceiptId] ASC,
	[ProductId] ASC,
	[TransactionType] ASC
)
WHERE ([ExportReceiptId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ImportReceiptId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_ImportReceiptId] ON [dbo].[InventoryTransactions]
(
	[ImportReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ImportReceiptId_ProductId_TransactionType]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventoryTransactions_ImportReceiptId_ProductId_TransactionType] ON [dbo].[InventoryTransactions]
(
	[ImportReceiptId] ASC,
	[ProductId] ASC,
	[TransactionType] ASC
)
WHERE ([ImportReceiptId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_OccurredAt]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_OccurredAt] ON [dbo].[InventoryTransactions]
(
	[OccurredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InventoryTransactions_PerformedByUserId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_PerformedByUserId] ON [dbo].[InventoryTransactions]
(
	[PerformedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ProductId_OccurredAt]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_ProductId_OccurredAt] ON [dbo].[InventoryTransactions]
(
	[ProductId] ASC,
	[OccurredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ReversedTransactionId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventoryTransactions_ReversedTransactionId] ON [dbo].[InventoryTransactions]
(
	[ReversedTransactionId] ASC
)
WHERE ([ReversedTransactionId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_TransactionType]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_TransactionType] ON [dbo].[InventoryTransactions]
(
	[TransactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_InventoryTransactions_Product_OpeningBalance]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_InventoryTransactions_Product_OpeningBalance] ON [dbo].[InventoryTransactions]
(
	[ProductId] ASC
)
WHERE ([TransactionType]=(6))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Code]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_Code] ON [dbo].[Products]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Suppliers_Code]    Script Date: 9/30/2026 1:38:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Suppliers_Code] ON [dbo].[Suppliers]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExportReceipts] ADD  DEFAULT (CONVERT([tinyint],(0))) FOR [Status]
GO
ALTER TABLE [dbo].[ExportReceipts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportReceipts] ADD  DEFAULT (CONVERT([tinyint],(0))) FOR [Status]
GO
ALTER TABLE [dbo].[ImportReceipts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportReceipts] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [CurrentQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [MinimumStockLevel]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceiptDetails_ExportReceipts_ExportReceiptId] FOREIGN KEY([ExportReceiptId])
REFERENCES [dbo].[ExportReceipts] ([Id])
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [FK_ExportReceiptDetails_ExportReceipts_ExportReceiptId]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceiptDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [FK_ExportReceiptDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceipts_AspNetUsers_CancelledByUserId] FOREIGN KEY([CancelledByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [FK_ExportReceipts_AspNetUsers_CancelledByUserId]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceipts_AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [FK_ExportReceipts_AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ExportReceipts_AspNetUsers_PostedByUserId] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [FK_ExportReceipts_AspNetUsers_PostedByUserId]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceiptDetails_ImportReceipts_ImportReceiptId] FOREIGN KEY([ImportReceiptId])
REFERENCES [dbo].[ImportReceipts] ([Id])
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [FK_ImportReceiptDetails_ImportReceipts_ImportReceiptId]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceiptDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [FK_ImportReceiptDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_AspNetUsers_CancelledByUserId] FOREIGN KEY([CancelledByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_AspNetUsers_CancelledByUserId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_AspNetUsers_PostedByUserId] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_AspNetUsers_PostedByUserId]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [FK_ImportReceipts_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [FK_ImportReceipts_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_AspNetUsers_PerformedByUserId] FOREIGN KEY([PerformedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_AspNetUsers_PerformedByUserId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_ExportReceipts_ExportReceiptId] FOREIGN KEY([ExportReceiptId])
REFERENCES [dbo].[ExportReceipts] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_ExportReceipts_ExportReceiptId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_ImportReceipts_ImportReceiptId] FOREIGN KEY([ImportReceiptId])
REFERENCES [dbo].[ImportReceipts] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_ImportReceipts_ImportReceiptId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_InventoryTransactions_ReversedTransactionId] FOREIGN KEY([ReversedTransactionId])
REFERENCES [dbo].[InventoryTransactions] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_InventoryTransactions_ReversedTransactionId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceiptDetails_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [CK_ExportReceiptDetails_Quantity_Positive]
GO
ALTER TABLE [dbo].[ExportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceiptDetails_UnitCost_NonNegative] CHECK  (([UnitCost] IS NULL OR [UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[ExportReceiptDetails] CHECK CONSTRAINT [CK_ExportReceiptDetails_UnitCost_NonNegative]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceipts_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [CK_ExportReceipts_Status]
GO
ALTER TABLE [dbo].[ExportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ExportReceipts_StatusAudit] CHECK  (([Status]=(0) AND [PostedByUserId] IS NULL AND [PostedAt] IS NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(1) AND [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(2) AND [CancelledByUserId] IS NOT NULL AND [CancelledAt] IS NOT NULL AND ([PostedByUserId] IS NULL AND [PostedAt] IS NULL OR [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL)))
GO
ALTER TABLE [dbo].[ExportReceipts] CHECK CONSTRAINT [CK_ExportReceipts_StatusAudit]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceiptDetails_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [CK_ImportReceiptDetails_Quantity_Positive]
GO
ALTER TABLE [dbo].[ImportReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceiptDetails_UnitCost_NonNegative] CHECK  (([UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[ImportReceiptDetails] CHECK CONSTRAINT [CK_ImportReceiptDetails_UnitCost_NonNegative]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceipts_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [CK_ImportReceipts_Status]
GO
ALTER TABLE [dbo].[ImportReceipts]  WITH CHECK ADD  CONSTRAINT [CK_ImportReceipts_StatusAudit] CHECK  (([Status]=(0) AND [PostedByUserId] IS NULL AND [PostedAt] IS NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(1) AND [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL AND [CancelledByUserId] IS NULL AND [CancelledAt] IS NULL OR [Status]=(2) AND [CancelledByUserId] IS NOT NULL AND [CancelledAt] IS NOT NULL AND ([PostedByUserId] IS NULL AND [PostedAt] IS NULL OR [PostedByUserId] IS NOT NULL AND [PostedAt] IS NOT NULL)))
GO
ALTER TABLE [dbo].[ImportReceipts] CHECK CONSTRAINT [CK_ImportReceipts_StatusAudit]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_BalanceEquation] CHECK  (([BalanceAfter]=([BalanceBefore]+[QuantityChange])))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_BalanceEquation]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Balances_NonNegative] CHECK  (([BalanceBefore]>=(0) AND [BalanceAfter]>=(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Balances_NonNegative]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_NoSelfReversal] CHECK  (([ReversedTransactionId] IS NULL OR [ReversedTransactionId]<>[Id]))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_NoSelfReversal]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_QuantityChange_NonZero] CHECK  (([QuantityChange]<>(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_QuantityChange_NonZero]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_QuantityDirection] CHECK  ((([TransactionType]=(6) OR [TransactionType]=(4) OR [TransactionType]=(3) OR [TransactionType]=(0)) AND [QuantityChange]>(0) OR ([TransactionType]=(5) OR [TransactionType]=(2) OR [TransactionType]=(1)) AND [QuantityChange]<(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_QuantityDirection]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_ReversalReference] CHECK  ((([TransactionType]=(3) OR [TransactionType]=(2)) AND [ReversedTransactionId] IS NOT NULL OR NOT ([TransactionType]=(3) OR [TransactionType]=(2)) AND [ReversedTransactionId] IS NULL))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_ReversalReference]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Source] CHECK  ((([TransactionType]=(2) OR [TransactionType]=(0)) AND [ImportReceiptId] IS NOT NULL AND [ExportReceiptId] IS NULL OR ([TransactionType]=(3) OR [TransactionType]=(1)) AND [ImportReceiptId] IS NULL AND [ExportReceiptId] IS NOT NULL OR ([TransactionType]=(6) OR [TransactionType]=(5) OR [TransactionType]=(4)) AND [ImportReceiptId] IS NULL AND [ExportReceiptId] IS NULL))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Source]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Type] CHECK  (([TransactionType]=(6) OR [TransactionType]=(5) OR [TransactionType]=(4) OR [TransactionType]=(3) OR [TransactionType]=(2) OR [TransactionType]=(1) OR [TransactionType]=(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_AverageUnitCost_NonNegative] CHECK  (([AverageUnitCost] IS NULL OR [AverageUnitCost]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_AverageUnitCost_NonNegative]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_CurrentQuantity_NonNegative] CHECK  (([CurrentQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_CurrentQuantity_NonNegative]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_MinimumStockLevel_NonNegative] CHECK  (([MinimumStockLevel]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_MinimumStockLevel_NonNegative]
GO
USE [master]
GO
